<h3>Вы подписались на события проблемы № <%= @report.id %> — <%= @report.title %></h3>
<p>Теперь вы будете получать уведомления при смене статуса проблемы или при появлении важных комментариев.</p>
<p>Ссылка на проблему — <a href="http://report.oblakan.ru/reports/<%= @report.id %>">report.oblakan.ru/reports/<%= @report.id %></a></p>