<h3>Вы отписались от событий № <%= @report.id %> — <%= @report.title %></h3>
<p>Ссылка на проблему — <a href="http://report.oblakan.ru/reports/<%= @report.id %>">report.oblakan.ru/reports/<%= @report.id %></a></p>