<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
    dt { float: left; font-weight: bold; width: 100px; }
    dd { margin-left: 100px; }
    div.clear { clear: both; }
  </style>
</head>
<body>
<%= yield %>
<hr />
<% if @subscriber && @subscriber.user.is_guest %>
    <p>Чтобы отписаться от событий, пройдите по <%= link_to 'ссылке', unsubscribe_url({email: @subscriber.user.email, code: @subscriber.code}) %>.</p>
<% end %>
<p>Если у вас возникли какие-либо вопросы, пишите нам: support@oblakan.ru</p>
<p>If you have any questions, write to us: support@oblakan.ru</p>
</body>
</html>